@model Category
@{
    ViewData["Title"] = "Update";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Category</h4>
                    <form class="forms-sample" method="post" asp-controller="Category" asp-action="Update">
                        <div class="form-group">
                            <label asp-for="Name">Name</label>
                            <input class="form-control" asp-for="Name" placeholder="Name">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidatePartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script src="https://ckeditor.com/docs/ckeditor5/latest/builds/guides/quick-start.html"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
