@model Layout
@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create New Layout</h4>
                    <form enctype="multipart/form-data" class="forms-sample" method="post" asp-controller="Layout" asp-action="Create">
                        <div class="form-group">
                            <label asp-for="LinkedinUrl">Linkedin URL</label>
                            <input class="form-control" asp-for="LinkedinUrl" placeholder="Linkedin URL">
                            <span class="text-danger" asp-validation-for="LinkedinUrl"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LinkedinTitle">Linkedin Title</label>
                            <input class="form-control" asp-for="LinkedinTitle" placeholder="Linkedin Title">
                            <span class="text-danger" asp-validation-for="LinkedinTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FacebookUrl">Facebook URL</label>
                            <input class="form-control" asp-for="FacebookUrl" placeholder="Facebook URL">
                            <span class="text-danger" asp-validation-for="FacebookUrl"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FacebookTitle">Facebook Title</label>
                            <input class="form-control" asp-for="FacebookTitle" placeholder="Facebook Title">
                            <span class="text-danger" asp-validation-for="FacebookTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <textarea class="form-control" asp-for="Description" placeholder="Facebook Title"></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="File">Image</label>
                            <input class="form-control" asp-for="File" placeholder="Image" accept="image/*">
                            <span class="text-danger" asp-validation-for="File"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<partial name="_ValidatePartial"/>
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script src="https://ckeditor.com/docs/ckeditor5/latest/builds/guides/quick-start.html"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}

