@model Layout
@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Details:</h4>
                <p class="card-description">

                </p>
                <p> 
                    @Html.Raw(Model.Description) pages
                </p>
                <div>
                    <img src="~/img/@Model.Image" alt="image"  style="width:100px; height:100px; border-radius:50%; object-fit:cover;"/>
                </div>
            </div>
        </div>
    </div>
</div>

